.spinner{
    width: 20px;
    height: 20px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.sort {
    cursor: pointer;
}
.sort:hover{
    text-decoration: underline;
}
.button{
    color: gray;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    height: 34px;
    margin: 3px;
    padding: 0 10px;
    &:hover {
        color: black;
        border: 1px solid #bdbdbd;
        box-shadow: 0px 0.5px 0px 0px #d3d3d3;
        cursor: pointer;
    }
}
