
<div class="container">
    <div class="row">
        <div class="col-xs-4 p-3">
            <input type="text" class="search form-control" [formControl]="search" placeholder="Введите значение">
        </div>
        <div *ngIf="(searchResult$ | async) as result" class="col-xs-4 p-4">
            Результатов: {{result.length}}
        </div>
    </div>
    <div *ngIf="(searchResult$ | async) === false">
        <div class="row" >
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Ошибка!
                    </h1>
                    <h2>
                        404 
                    </h2>
                    <div class="error-details">
                        Пожалуйста попробуйте позже!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="(searchResult$ | async) as result">
        <div class="row">
            <table class="table table-striped" *ngIf="!loading" >
                <thead>
                    <th class="sort" (click)="sortClick('id')">ID</th>
                    <th class="sort" (click)="sortClick('title')">Заголовок</th>
                    <th class="sort" (click)="sortClick('description')">Описание</th>
                </thead>
                <tbody>
                    <tr *ngFor="let search of result; let i = index" >
                        <td>{{search.id}}</td>
                        <td>{{search.title}}</td>
                        <td>{{search.description}}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="loading">
                <div class="spinner"></div>
            </div>
            <ng-template #loadResult>
                <tr>
                    <td></td>
                </tr>
            </ng-template>
        </div>
    </div>
</div>



